h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
html, body, #map {
    margin: auto;
    padding: 0;
    height: 90%;
    width: 75%;
}

#todo {
    width: 55vw;
    height: 5vh;
}

#start, #end {
    width: 20vw;
}