h1 {
  border: 2px #eee solid;
  color: white;
  text-align: center;
  padding: 10px;
  background-color: #0d6efd;
  width: 55vw;
}

/* 
* Always set the map height explicitly to define the size of the div element
* that contains the map. 
*/
html, body, #map {
  margin: auto;
  padding: 0;
  height: 90%;
  width: 75%;
}

#todo {
  width: 56vw;
  height: 5vh;
}

#start, #end {
  width: 28vw;
}